<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <h2>
      {{ introText }}
    </h2>
    <img width="700" height="350" alt="NodeMCU image"
      src="assets/img/NodeMCUV3.png">
  </div>
  <div style="text-align:center">
    <div>
      <span>
        <input placeholder="IP address" /> : <input placeholder="port" />
      </span>
    </div>
    <div class="controls">
      <button (mousedown)="ledsOn()" (mouseup)="ledsOff()" (mouseleave)="ledsOff()">
        Full speed forward
      </button>
      <br>
      <button (click)="ledsOn()">
        Rotate Left
      </button>
      <button (click)="ledsOff()">
        Rotate Right
      </button>
      <br>
      <button (click)="ledsOff()">
        Go backwards
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>