<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <h2>
      {{ introText }}
    </h2>
    <img width="700" height="350" alt="NodeMCU image"
      src="assets/img/NodeMCUV3.png">
  </div>
  <div style="text-align:center">
    <div>
      <span>
        <input placeholder="IP address" (focusout)="setIP(IPaddress.value)" #IPaddress/> 
        : 
        <input placeholder="port" (focusout)="setPort(Port.value)" #Port/>
      </span>
    </div>
    <br>
    <div>
      <select name="Speed" (change)="onDropdownChange(Speed.value)" #Speed></select>
    </div>
    <br>
    <div>
      <button (mousedown)="goForward()" (mouseup)="fullStop()" (mouseleave)="fullStop()">
        Full speed forward
      </button>
      <br>
      <button (mousedown)="rotateLeft()" (mouseup)="fullStop()" (mouseleave)="fullStop()">
        Rotate Left
      </button>
      <button (mousedown)="rotateRight()" (mouseup)="fullStop()" (mouseleave)="fullStop()">
        Rotate Right
      </button>
      <br>
      <button (mousedown)="goBackward()" (mouseup)="fullStop()" (mouseleave)="fullStop()">
        Go backward
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>